header {
  height: 80px;
  background: $secondary;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: 650px) {
    height: 140px;
    align-items: flex-start;
    padding-top: 20px;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;

    &__right {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 50%;

      @media (max-width: 650px) {
        flex-direction: column-reverse;
        align-items: flex-end;
      }

      &--icon {
        font-size: 1.6rem;

        .fa-solid:hover {
          color: $background-1;
          cursor: pointer;
        }

        .fa-bell {
          display: none;

          @media (max-width: 1000px) {
            display: inline;
            margin-right: 20px;
          }
        }
      }
    }
  }
}
