header {
  height: 80px;
  background: $secondary;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: 650px) {
    height: 140px;
    align-items: flex-start;
    padding-top: 20px;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;

    &__right {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 50%;

      @media (max-width: 650px) {
        flex-direction: column-reverse;
        align-items: flex-end;
      }

      &--search {
        width: 20vw;
        min-width: 200px;
        position: relative;

        input {
          background: transparent;
        }

        @media (max-width: 650px) {
          position: absolute;
          z-index: 5;
          top: 80px;
          left: 50%;
          transform: translateX(-50%);
        }

        .results-container {
          position: absolute;
          width: 100%;
          z-index: 5;
          border: 2px solid $main;

          &__result {
            padding: 10px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            cursor: pointer;
            background: $background-2;

            div {
              display: flex;
              align-items: center;

              p {
                margin-left: 10px;
              }
            }

            &:hover {
              background: $secondary;
            }

            &:active {
              transform: translateX(-10px);
            }
          }
        }
      }

      &--icon {
        font-size: 1.6rem;

        .fa-solid:hover {
          color: $background-1;
          cursor: pointer;
        }

        .fa-bell {
          display: none;

          @media (max-width: 1000px) {
            display: inline;
            margin-right: 20px;
          }
        }
      }
    }
  }
}
