header {
  height: 80px;
  background: $secondary;
  display: flex;
  align-items: center;
  justify-content: center;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;

    &__menu {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 40%;
      z-index: 5;

      @media (max-width: 800px) {
        width: 60%;
      }

      @media (max-width: 600px) {
        position: absolute;
        top: 0;
        right: 0;
        height: 100vh;
        width: 100%;
        background-color: $secondary;
        flex-direction: column-reverse;
        justify-content: center;
        transition: 0.2s;
        transform: translateX(100%);

        .fa-xmark {
          display: inline;
          font-size: 3rem;
          position: absolute;
          top: 20px;
          right: 20px;
        }
      }

      &--icon {
        width: 20%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 1.8rem;

        @media (max-width: 600px) {
          margin-bottom: 30%;
          font-size: 3rem;
          width: 50%;
        }
      }
    }
  }

  .input-1 {
    width: 20vw;
    min-width: 200px;
  }

  .fa-bars,
  .fa-xmark {
    font-size: 3rem;
    display: none;
  }

  .fa-bars {
    @media (max-width: 600px) {
      display: inline;
    }
  }

  .fa-bell {
    display: none;

    @media (max-width: 1000px) {
      display: inline;
    }
  }

  .fa-solid:not(.fa-magnifying-glass):hover {
    color: $background-1;
    cursor: pointer;
  }
}
