.account {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__profil {
    width: 80%;
    margin: 40px 0;
    background: $background-2;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;

    @media (max-width: 450px) {
      width: 95%;
    }

    @media (max-width: 400px) {
      flex-direction: column;
    }

    i {
      font-size: 1.5rem;

      @media (max-width: 500px) {
        font-size: 1rem;
      }

      @media (max-width: 400px) {
        align-self: flex-end;
      }
    }
  }

  &__container {
    display: flex;
  }

  &__buttons {
    width: 400px;
    padding: 20px 0;

    @media (max-width: 430px) {
      width: 90vw;
    }

    &--button {
      background: $background-2;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px;
      border-radius: 5px;
      margin: 15px 0;

      &:hover {
        background: $main;
        color: $background-2;
      }

      div {
        display: flex;
      }

      p {
        margin-left: 10px;
      }
    }

    .btn-2 {
      margin-top: 20px;
    }
  }

  &__section {
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 50px;

    .fa-circle-xmark:first-child {
      display: none;
    }

    @media (max-width: 1000px) {
      min-height: 100vh;
      display: none;
      margin: 0;
    }

    &--open {
      display: flex;
      justify-content: center;
      position: absolute;
      z-index: 6;
      top: 0;
      left: 0;
      width: 100%;
      min-height: 100vh;
      background: $background-1;
      padding: 50px;

      @media (max-width: 440px) {
        padding: 50px 20px;
      }

      .fa-circle-xmark:first-child {
        display: inline;
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 1.6rem;
        cursor: pointer;

        &:hover {
          color: $secondary;
        }
      }
    }
  }
}
