.login {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  &__error {
    margin: 20px 0;
    color: $false;
    text-align: center;
    white-space: pre-wrap;
  }

  form {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  a {
    width: 100%;
  }

  img {
    margin-bottom: 40px;
  }

  div {
    margin-bottom: 15px;
  }

  .btn-1 {
    margin: 20px 0 15px 0;
  }

  @media (max-width: 450px) {
    width: auto;
  }
}
