.edit-profil {
  width: 450px;

  @media (max-width: 500px) {
    width: 100%;
  }

  .fa-camera {
    @media (max-width: 335px) {
      display: none;
    }
  }

  h1 {
    margin-bottom: 40px;
  }

  .input-1 {
    margin-bottom: 20px;
  }
}
