.edit-profil {
  width: 450px;

  @media (max-width: 500px) {
    width: 100%;
  }

  .fa-camera {
    @media (max-width: 335px) {
      display: none;
    }
  }

  h1 {
    margin-bottom: 40px;
  }

  span {
    font-size: 0.7rem;
  }

  .input-1 {
    margin-bottom: 20px;
  }

  &__instructions {
    color: $false;
    text-align: center;
    margin-top: 10px;
    white-space: pre-wrap;
  }
}
