.my-follows {
  width: 100%;

  h1 {
    text-align: center;
  }

  &__message {
    text-align: center;
    margin-top: 50px;
  }

  .profil-link-button {
    background: $background-2;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    margin: 20px 0;

    div {
      display: flex;
      align-items: center;

      p {
        margin-left: 20px;
      }
    }

    &:hover {
      background: $secondary;
    }

    &:active {
      transform: translateX(-10px);
    }
  }
}
