* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  outline: none;
  border: none;
  text-decoration: none;
}

a,
a:visited {
  color: black;
}
a:hover {
  color: gray;
}

body {
  background: whitesmoke;
  color: gray;
}
