:root {
  --background-1: #f0eee9;
  --background-2: #e1e0df;
  --main: #344d59;
}

@font-face {
  font-family: "font-1";
  src: url(../fonts/Ubuntu-Medium.ttf);
}

$font-1: "font-1", sans-serif;

$background-1: var(--background-1);
$background-2: var(--background-2);
$main: var(--main);
$secondary: #add8c7;
$false: rgb(230, 102, 102);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  outline: none;
  border: none;
  text-decoration: none;
}

a,
a:visited {
  color: $main;
}
a:hover {
  color: $main;
}

body {
  background: $background-1;
  min-height: 100vh;
  overflow-x: hidden;
}

body,
input,
textarea,
button {
  font-family: $font-1;
  color: $main;

  &::placeholder {
    color: $main;
  }
}

/*********** Components ***********/

.btn-1,
.btn-2 {
  width: 100%;
  height: 40px;
  text-transform: uppercase;
  font-weight: bold;
  transition: 0.2s;

  &:hover {
    cursor: pointer;
    background: $main;
    color: $background-1;
  }

  &:active {
    transform: scaleX(0.9);
  }
}

.btn-1 {
  background: $background-2;
}
.btn-2 {
  border: 2px solid $main;
  background: transparent;
}
.btn-anim {
  cursor: pointer;
  transition: 0.2s;

  &:hover {
    color: $secondary;
  }

  &:active {
    transform: translateX(-10px);
  }
}

.input-1 {
  width: 100%;
  position: relative;

  input {
    width: 100%;
    padding: 10px;
    background: $background-2;
    border: 2px solid $main;
    border-radius: 5px;

    &:focus {
      background: transparent;
    }
  }

  i {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
  }
}

.message {
  width: 100%;
  position: relative;

  textarea {
    width: 100%;
    resize: none;
    min-height: 100px;
    padding: 20px;
    background: $background-2;
    border: 2px solid $background-2;

    &:focus {
      background: $background-1;
    }
  }

  button {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background: $main;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s;

    &:hover {
      background: $secondary;
    }

    &:active {
      transform: translateX(10px);
    }

    i {
      color: $background-1;
      padding: 5px 15px;
    }
  }
}

.edit-message {
  width: 100%;
  resize: none;
  min-height: 100px;
  padding: 20px;
  background: $background-2;
  border: 2px solid $background-2;

  &:focus {
    background: $background-1;
  }
}
